<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
    <add key="Server" value="hanab1:30015" />
    <add key="Database" value="SBOFABRICA_SOFTWARE" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="Finance@3324" />
    <add key="B1User" value="DEV_03" />
    <add key="B1Password" value="B1Admin@" />
    <add key="SleepTime" value="0" />
    <add key="Anexo" value="\\Hanab1\b1_shf\EnvioEmail" />
    <add key="HostEmail" value="smtp.office365.com" />
    <add key="PortEmail" value="587" />
    <add key="Email" value="suprimentos@grupoenergia.com.br" />
    <add key="SenhaEmail" value="X%63Xg4sLhr" />
  </appSettings>
</configuration>